.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 65px;
  height: 64px;
  border: 3px solid;
  border-color: #000 transparent rgb(244, 10, 10) transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
